/*
	Font replacements:
		https://fonts.google.com/specimen/Judson
		https://fonts.google.com/specimen/Playfair+Display

	This is uncompressed for a the same reason you're looking at it.

	Diatonic scale:
	12, 13, 14, 18, 20, 24, 36, 48, 64, 72

	Golden section (fibonacci) - perfect 5th 2:3

	Heading line height: 1.2 - 1.3em

	http://www.modularscale.com/

*/
@import url('base/variables.css');
@import url('base/html.css');

/* components */
@import url('components/banner.css');
@import url('components/logo.css');
@import url('components/nav.css');

/* utilities */
@import url('utilities/font-size.css');
@import url('utilities/layout.css');
@import url('utilities/lists.css');
@import url('utilities/spacing.css');
