/*
	Font replacements:
		https://fonts.google.com/specimen/Judson
		https://fonts.google.com/specimen/Playfair+Display

	This is uncompressed for a the same reason you're looking at it.

	Diatonic scale:
	12, 13, 14, 18, 20, 24, 36, 48, 64, 72

	Golden section (fibonacci) - perfect 5th 2:3

	Heading line height: 1.2 - 1.3em

	http://www.modularscale.com/

*/

/* Just playing with CSS variables */
:root {
  --c-base: #fff;
  --c-primary: #444;
  --c-secondary: #238381;
  --c-tertiary: #2c3939;
  --c-highlight: #fff2d9;
  --c-accent: #eee;
  --c-accent-secondary: #f6fbfb;
  --c-action: #3A70AE;
  --c-banner: #3A70AE;
}

body {
    background: var( --c-base );
    color: var( --c-primary );
    font: 400 1em/1.65 "Open Sans", Sans-Serif;
}

h1,
h2,
h3,
h4 {
	font-family: Judson, Serif;
    margin: 0 0 1rem;
}

*,
strong {
    padding: 0
}

blockquote,
strong {
    background: var( --c-highlight );
}

*,
blockquote p {
    margin: 0
}

.menu-favorites a,
.menu-inline,
.project-group,
.project-heading {
    text-align: center
}

.menu-inline a,
a:hover,
h1 a {
    text-decoration: none
}

h2,
h3 {
    font-weight: 400
}

h1 {
    font-size: 4.5em; /* 72px */
    line-height: 1.13;
    margin-top: 1.125rem;
    margin-bottom: 2.25rem;
}

h2 {
    font-size: 3em; /* 48px */
    line-height: 1.1;
    margin-bottom: 25px;
    margin-top: 56px;
}

h3 {
	font-size: 2.25em; /* 36px */
    line-height: 1.45;
}

h4 {
	font-size: 1.5em; /* 24px */
    line-height: 1.2
}

h5 {
	font-size: 1.25em; /* 20px */
}

p, ol, ul {
	font-size: 1.125em; /* 18px */
}


strong {
    font-weight: 200;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 5px 0 0 var(--c-hightlight), -5px 0 0 var(--c-hightlight);
    display: inline
}

blockquote {
    padding: 40px 20px;
    font-size: 1.2em;
    font-style: italic;
    margin: 40px 0
}

p code,
pre {
    background: var( --c-accent );
    color: var( --c-primary );
    font-size: .9em;
    font-family: Inconsolata, "Courier New", monospace
}

p code {
    padding: 5px
}

pre {
    display: block;
    margin: 1.5em 0;
    overflow: auto;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    line-height: 1.4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px!important
}

@media screen and ( min-width: 700px ) {
	pre {
		padding: 30px 30px 30px 100px !important;
	}
}

pre code {
    display: inline-block;
    font-family: inherit
}

ol,
p,
ul {
    margin: 0 0 29px;
}

main {
    position: relative
}

a {
    color: var( --c-action );
}

a:hover {
    color: var( --c-primary );
}

a:active {
    color: var( --c-primary )
}

ol,
ul {
    margin-left: 3em
}

.contain {
    max-width: 650px;
    margin: auto
}

.contain-wide {
    max-width: 1000px;
    margin: auto
}

.gutter {
    padding: 20px
}

.is-block {
    display: block
}

.section-hello img {
    margin: 0 auto 40px;
    max-width: 50%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .2)
}

.menu-inline {
    font-size: 3.2em
}

.menu-inline li {
    display: inline-block
}

.menu-inline li+li {
    margin-left: 20px
}

.menu-favorites {
    font-size: 1em;
    margin-bottom: 2em
}

.menu-favorites a {
    display: block;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 25px 20px 15px;
    line-height: 1.2;
    font-size: 15px
}

.menu-favorites .icon {
    display: block;
    font-size: 2.4em;
    margin-bottom: 6px
}

.menu-favorites .first-line {
    display: block
}

.project {
    overflow: hidden;
    margin-bottom: 60px
}

.project-gutter {
    padding: 15px
}

.project-title {
    display: block;
    border: 0;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-weight: 300
}

.project-group {
    margin: 0 -15px;
    clear: both;
    overflow: hidden
}

.project-item {
    width: calc(33.333333% - 15px);
    display: inline-block;
    vertical-align: top;
    text-align: center
}

.project-item-50 {
    width: calc(50% - 15px);
    display: inline-block;
    vertical-align: top;
    text-align: center
}

.project-item>a {
    display: block;
    border: 0
}

.project-item img {
    display: block;
    margin-bottom: 10px;
    width: 100%;
	border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 0 4px rgba(0,0,0,.25);
}

.list-projects {
    margin: 0 auto;
    clear: both;
    padding: 20px 0 0 40px;
    width: 66.666666%;
    font-size: 18px;
    line-height: 1.7
}

@media screen and (max-width:760px) {
    .project-item {
        width: 49%
    }
    .list-projects {
        width: 100%
    }
}

@media screen and (max-width:700px) {
    .list-projects,
    .project-title {
        font-size: 16px;
        font-weight: 400
    }
    .project-gutter {
        padding: 10px
    }
    .project-group {
        margin-left: -10px;
        margin-right: -10px
    }
    .list-projects {
        padding: 10px 0 0;
        margin-left: 25px;
        line-height: 1.4
    }
    .list-projects>li {
        margin-bottom: 5px
    }
}

.is-clean {
    margin: 0;
    padding: 0;
    list-style: none
}

article {
    display: block;
    padding: 1em 0 0
}

article[role=main] {
    padding-top: 0;
    padding-bottom: 50px
}

article[role=main] h1,
article[role=main] h2,
article[role=main] h3,
article[role=main] h4,
article[role=main] ol,
article[role=main] p,
article[role=main] pre,
article[role=main] time,
article[role=main] ul {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px
}

@media screen and ( min-width: 700px ) {
	article[role=main] h1,
	article[role=main] h2,
	article[role=main] h3,
	article[role=main] h4,
	article[role=main] ol,
	article[role=main] p,
	article[role=main] pre,
	article[role=main] time,
	article[role=main] ul {
		padding-left: 100px;
	}
}

article[role=main] h1 {
	max-width: 1200px;
}

article[role=main] ol,
article[role=main] ul {
    max-width: 520px
}

time {
    font-size: .85em;
    padding: 0 0 0 2px;
    display: block
}

.list-clean {
    list-style: none;
    margin: 0;
    padding: 0
}

.is-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px
}

img {
    max-width: 100%;
    height: auto;
}

img.alignleft {
    float: left;
    margin: 0 1em 0 0
}

img.alignright {
    float: left;
    margin: 0 0 0 1em
}

iframe[src*=youtube] {
    border: 1px solid var( --c-base );
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .25);
    max-width: 100%;
    display: block;
    margin: auto;
    overflow: hidden
}

.wp-prev-next {
    padding: 1em 0;
    text-align: center;
    font-size: .9em
}

.wp-prev-next a {
    width: 25%;
    display: inline-block
}

header[role=banner] {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    /*margin-bottom: 40px;*/
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    transition: all linear .5s
}

header[role=banner]:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #212121; /* fallback */
    background: var( --c-banner );
}

@media screen and (min-width: 681px) {
    header[role=banner].is-moving {
        padding-top: 70px;
        padding-bottom: 90px;
        margin-bottom: -50px
    }
    header[role=banner].is-moving nav[role=navigation] {
        padding-top: 60px
    }
}

@media screen and (max-width:681px) {
    article[role=main] {
        padding-top: 50px
    }
}

.logo {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99
}

.logo a {
    display: block;
    color: var(--c-base);
    margin: auto;
    padding: 0 1em;
    text-align: center;
}

nav[role=navigation] {
    background: #212121; /* fallback */
    background: var( --c-banner );
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-top: 100px;
    position: relative;
    z-index: 99
}

nav[role=navigation] ul {
    margin: 0;
    padding: 0;
    list-style: none
}

nav[role=navigation] li {
    display: inline-block;
    padding: 0 20px;
}

nav[role=navigation] a {
    color: var( --c-accent-secondary );
    border-bottom: 2px solid var( --c-base );
    text-decoration: none;
    display: inline-block
}

nav[role=navigation] a:active {
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    transform: scale(.95)
}

.has-feature nav[role=navigation] a {
    border-bottom-color: var( --c-base );
    border-bottom-color: rgba(255, 255, 255, .7)
}

nav[role=navigation].pagination {
    background: var( --c-base );
    padding: 40px 0;
    margin-top: 40px;
    font-size: .9em
}

nav[role=navigation].pagination a {
    width: auto;
    color: var( --c-action );
    margin: 0 20px;
    padding: 8px 24px;
    border-width: 1px;
    border-color: var( --c-action );
    border-style: solid;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    transition: all linear .3s
}

nav[role=navigation].pagination a:hover {
    background: var( --c-base );
    background: rgba(255, 255, 255, .8);
    border-color: var( --c-primary );
}

.list-clean {
    max-width: 700px!important
}

.list-clean article {
    padding: 0;
    margin: 0
}

.list-clean article h1 {
    font-size: 3rem;
    margin: 0 0 1rem;
}

.organizations {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
    text-align: center
}

.organizations li {
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 10px;
    width: 49%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.organizations a {
    display: block
}

.organizations img {
    border-radius: 0;
    border: 0;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    display: block;
    margin: auto;
    max-width: 100%
}

@media screen and (max-width:680px) {
    header[role=banner] {
        padding-top: 62px;
        padding-bottom: 82px;
        /*margin-bottom: 20px*/
    }
    nav[role=navigation] {
        padding-top: 60px;
        font-size: 1em
    }
    .organizations {
        clear: both;
        margin-top: 20px;
        margin-bottom: 20px
    }
    .organizations li {
        padding: 0 10px
    }
}

@media screen and (max-width:700px) {
    body {
        font-size: 1.15em;
        line-height: 1.5
    }
    h1 {
        font-size: 2.2em;
        line-height: 1.2
    }
    img.alignleft,
    img.alignright {
        float: none;
        display: block;
        margin: auto
    }
    article[role=main] ol,
    article[role=main] ul {
        margin-left: 2em
    }
    nav[role=navigation].pagination {
        padding: 20px 0;
        margin-top: 20px
    }
    nav[role=navigation].pagination a {
        margin: 0 10px
    }
    .section-hello img {
        margin: 0 auto 20px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .2)
    }
    .list-clean {
        margin-left: 0!important;
        padding: 0!important
    }
    .list-clean h1 {
        font-size: 2em
    }
    .menu-inline {
        font-size: 2.4em;
        margin-bottom: 10px
    }
    .menu-inline li+li {
        margin-left: 10px
    }
    article[role=main] ol,
    article[role=main] p,
    article[role=main] ul {
        font-weight: 400
    }
    strong {
        font-weight: 700
    }
    blockquote {
        margin: 20px 0;
        padding: 20px 10px
    }
    .gutter {
        padding: 10px 20px
    }
}

@media screen and (max-width:350px) {
    header[role=banner] {
        padding-top: 50px;
        padding-bottom: 50px
    }
    nav[role=navigation] {
        padding-top: 30px
    }
    nav[role=navigation] li {
        width: 100%;
        display: block;
        padding: 8px 0
    }
}

.twitter-tweet {
    margin: 1em auto;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    height: auto !important;
}

td,
th {
    text-align: left;
    border: 1px solid var( --c-accent );
    padding: 5px;
}

hr {
    margin-bottom: 30px;
}

.fb-comments {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block !important
}

img.aligncenter {
    margin: auto;
    width: auto;
    display: block;
}

.icon-link {
	fill: currentColor;
}

@media ( min-width:675px ) {
    .icon-link {
        margin-left: -40px;
    }
}

.post-categories {
    margin: -15px 0 30px;
    padding: 0 0 0 20px;
    list-style: none;
    font-size: 16px;
}

.post-categories li {
    display: inline-block;
}

body.check-vr {
	background-image: -webkit-linear-gradient(#eee .05em, transparent .05em);
    background-image:    -moz-linear-gradient(#eee 1px, transparent 1px);
    background-image:     -ms-linear-gradient(#eee 1px, transparent 1px);
    background-image:      -o-linear-gradient(#eee 1px, transparent 1px);
    background-image:         linear-gradient(#eee 1px, transparent 1px);
    background-size: 100% 1.5em;
}

.display-block {
	display: block;
}

.fz-small,
.fz-medium {
	line-height: 1.5;
}

.fz-small {
	font-size: 14px;
}

.fz-medium {
	font-size: 16px;
}

.fz-large {
  font-size: 24px;
}

.fz-xlarge {
  font-size: 36px;
}
.m-0 {
	margin: 0;
}

.mt-0 {
  margin-top: 0;
}
.mb-1 {
	margin-bottom: 8px;
}

.mb-2 {
	margin-bottom: 16px;
}

.mb-3 {
	margin-bottom: 24px;
}

.list-clean {
	list-style: none;
}

.grid-md-50 div {
	box-sizing: border-box;

}

.callout {
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 0 0 4px rgba(0,0,0,.25);
	width: 100%;
}

@media (min-width: 700px) {
	.grid-md-50 {
		display: flex;
	}

	.grid-md-50 div {
		flex-basis: 50%;
		min-width: 50%;
		padding: 0 1em;
	}

	.grid-md-50 div:first-child {
		padding-left: 0;
	}

	.grid-md-50 div:last-child {
		padding-right: 0;
	}
}

.blm {
	font-size: 14px;
    padding: 12px;
	background: black;
	color: white;
	text-align: center;
}

.blm p {
	margin: 0;
}

.blm a {
	color: white;
}

.direct-link {
    display: none;
}
