---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<div class="contain-wide">
  <div class="gutter">
<h1 class="is-hidden">Blog</h1>

{% set postslist = collections.blog %}
{% include "postslist.njk" %}
</div></div>
