<section class="project">
  <h1 class="project-heading">Articles</h1>

  <div class="project-group">
    <div class="project-item">
      <div class="project-gutter">
      <a href="http://alistapart.com/article/environmental-design-with-the-device-api/">
        <img src="../img/article-ala.png" alt="A Lamp, representing the Device API">
        <h2 class="project-title">Environmental Design with the Device API</h2>
      </a>
      </div><!--/.project-gutter-->
    </div><!--/.portfolio-item is-featured-->

    <div class="project-item">
      <div class="project-gutter">
      <a href="http://www.smashingmagazine.com/2014/05/12/picturefill-2-0-responsive-images-and-the-perfect-polyfill/">
        <img src="../img/article-rwd.png" alt="Obama's weird dog">
        <h2 class="project-title">Responsive Images and the Perfect Polyfill</h2>
      </a>
      </div><!--/.project-gutter-->
    </div><!--/.portfolio-item-->
  </div>

  <ul class="list-projects">
    <li>
        <a href="https://adhocteam.us/2022/09/14/building-trust-with-users-long-term-platform-success/">
            Building trust with users for long-term platform success
        </a>
    </li>
    <li>
      <a href="http://www.informit.com/articles/article.aspx?p=2186996&amp;WT.mc_id=Author_Wright_5WebSkills">
        The 5 Most Important Skills a Web Developer Needs
      </a>
    </li>
    <li>
      <a href="http://workspiration.org/tim-wright">
        Workspiration Interview
      </a>
    </li>
    <li>
      <a href="http://www.smashingmagazine.com/2012/11/19/building-relationship-between-css-javascript/">
        Building A Relationship Between CSS &amp; JavaScript
      </a>
    </li>
    <li>
      <a href="http://www.sitepoint.com/adapting-an-interface-for-touch-devices/">
        Adapting an Interface for Touch Devices
      </a>
    </li>
    <li>
      <a href="http://www.smashingmagazine.com/2009/12/19/what-you-need-to-know-about-behavioral-css/">
        What You Need To Know About Behavioral CSS
      </a>
    </li>
    <li>
      <a href="http://www.noupe.com/design/css-techniques-i-wish-i-knew-when-i-started-designing-websites.html">
        CSS Techniques I Wish I Knew When I Started Designing Websites
      </a>
    </li>
    <li>
      <a href="http://www.smashingmagazine.com/2009/07/16/html5-and-the-future-of-the-web/">
        HTML 5 and the Future of the Web
      </a>
    </li>
    <li>
      <a href="http://www.webdesignerdepot.com/2009/06/10-tips-to-create-a-more-usable-web/">
        Tips for Creating a More Usable Web
      </a>
    </li>
  </ul>

</section>
