<section class="project">
  <h1 class="project-heading">Featured Projects</h1>
  <div class="project-group">

  {% for project in projectlist | reverse%}
    <div class="project-item project-item-50">
    <div class="project-gutter">
    <a href="{% if project.data.passthrough %}{{ project.data.passthrough }}{% else %}{{ project.url }}{% endif %}">
      {% if project.data.thumbnail %}
        <img src="../img/{{ project.data.thumbnail }}" alt="{{ project.data.imgCaption }}">
      {% endif %}
      <h2 class="project-title">{{ project.data.title }}</h2>
    </a>
    </div><!--/.project-gutter-->
  </div><!--/.portfolio-item-->
  {% endfor %}

  </div><!--/.project-group-->
</section>
