<section class="project">
  <h1 class="project-heading">Featured Projects</h1>
  <div class="project-group">

    {% for work in worklist %}
      <div class="project-item project-item-50">
      <div class="project-gutter">
      <a href="{% if work.data.passthrough %}{{ work.data.passthrough | url }}{% else %}{{ work.url | url }}{% endif %}">
        {% if work.data.thumbnail %}
          <img src="{{ work.data.thumbnail }}" alt="{{ work.data.imgCaption }}">
        {% endif %}
        <h2 class="project-title">{{ work.data.title }}</h2>
      </a>
      </div><!--/.project-gutter-->
    </div><!--/.portfolio-item-->
    {% endfor %}

  </div><!--/.project-group-->
</section>
