---
layout: layouts/base.njk
templateClass: tmpl-work
---

<div class="contain-wide">
  <div class="gutter">

    <h1>{{ title }}</h1>

    <p>Please reach out via the contact link in the main navigation if you are interested in any of the below services.</p>

    {{ content | safe }}

  </div><!--/.gutter-->
</div><!--/.contain-wide-->
