---
layout: layouts/base.njk
templateClass: tmpl-work
---

<div class="contain-wide">
  <div class="gutter">

    {{ content | safe }}

    {% set worklist = collections.work %}
    {% set booklist = collections.book %}
    {% set talklist = collections.talk %}

    {% include "worklist.njk" %}
    {% include "booklist.njk" %}
    {% include "talklist.njk" %}

  </div><!--/.gutter-->
</div><!--/.contain-wide-->
